@model MovieApp.Web.ViewModels.SearchResultViewModel

@await Html.PartialAsync("~/Views/Partial/PageTitle.cshtml");
@await Html.PartialAsync("~/Views/Partial/MoviesFilter.cshtml");

<!-- catalog -->
<div class="catalog">
	<div class="container">
		<div class="row">
			@foreach (var movie in @Model.Movies)
		   {			   
			<!-- card -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card">
					<div class="card__cover">
						<img src="/image/@movie.Image">
						<a href="#" class="card__play">
							<i class="icon ion-ios-play"></i>
						</a>
					</div>
					<div class="card__content">
						<h3 class="card__title"><a href="/watch/@movie.Link">@movie.Title</a></h3>
						<span class="card__category">
							@foreach (var movieGenre in movie.Categories)
						   {
								<a href="@movieGenre.Link">@movieGenre.Name</a>
						   }
						</span>
						<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.Raiting</span>
					</div>
				</div>
			</div>
			<!-- end card -->
		   }
			<!-- paginator -->
			<div class="col-12">
				<ul class="paginator">
					<li class="paginator__item paginator__item--prev">
						<a href="#"><i class="icon ion-ios-arrow-back"></i></a>
					</li>
					<li class="paginator__item"><a href="#">1</a></li>
					<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
					<li class="paginator__item"><a href="#">3</a></li>
					<li class="paginator__item"><a href="#">4</a></li>
					<li class="paginator__item paginator__item--next">
						<a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
					</li>
				</ul>
			</div>
			<!-- end paginator -->
		</div>
	</div>
</div>
<!-- end catalog -->